<div class="container" >
  <h1 class="text-center">ng2-bootstrap-modal demo application</h1>
  <div class="row">
    <div class="col-sm-4 text-right">
      <b>Alert example: </b>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-default btn-block" (click)=showAlert()>Show alert</button>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4 text-right">
      <b>Confirm example: </b>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-default btn-block" (click)=showConfirm()>Show confirm</button>
    </div>
    <div class="col-sm-4">
      <span>Result: </span>
      <b *ngIf="confirmResult == null" class="text-default">Not answered</b>
      <b *ngIf="confirmResult != null" [ngClass]="{'text-danger': !confirmResult, 'text-success': confirmResult}">{{confirmResult ? 'Accepted': 'Declined'}}</b>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4 text-right">
      <b>Prompt example: </b>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-default btn-block" (click)=showPrompt()>Show prompt</button>
    </div>
    <div class="col-sm-4">
      <span>Your name: </span>
      <b>{{promptMessage}}</b>
    </div>
  </div>
</div>
